project_id=6804
ha_request_id=HA2025-00448
host_id=69233
host_name=vm-golden-image-pci
os_id=154
os_name=Ubuntu
os_version_id=931
os_version_name=24.04
script_version=1
ip=
oob_ip=10.84.110.24
function_name=Application
project_owner_id=3862,4933,11070,14409,14565
project_owner=Taweesak Pahumunto,Warawan Ninlaphat,Dejsak Thepvilojanapong,Mantanakorn Kampangnil,Krisada Pakdeesuwan
site_location_id=172
site_location_name=Azure Cloud
checksum=MzFlYzJjMTBmNzY5YWNkMGFmNmM0OWM5MDYyOGQyYzFiZTU2NGFkZjA4YmY1NmE5MzJiZTk2ZGIxODg0OGJhOA==
